.btn {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    transform: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $secondary-light-peach;
    }
}

.btn.btn__dark {
    color: $primary-black;
    background-color: $primary-white;
}

.btn.btn__light {
    color: $primary-white;
    background-color: $primary-peach;
}   