// Primary colors

$primary-peach: #e7816b;
$primary-black: #1d1c1e;
$primary-white: #fff;

$primary-bg-black-opacity: rgba(29, 28, 30, 0.8);

// Secondary colors
$secondary-light-peach: #ffad9b;
$secondary-dark-grey: #333136;
$secondary-light-grey: #f1f3f5;

